Repository Tairesh/midia, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, ci, rust, JSON

Run tests when json-files changed too
  .github/workflows/tests.yml
Labels: ci

Add chests, open and close actions and also a backpack
  assets/img/tileset.png
  assets/img/tileset.xcf
  data/items/cloth.json
  src/assets/tileset.rs
  src/game/actions/action_type.rs
  src/game/actions/implements/close.rs
  src/game/actions/implements/mod.rs
  src/game/actions/implements/open.rs
  src/game/game_data/item.rs
  src/game/log/event.rs
  src/game/map/chunk.rs
  src/game/map/items/helpers.rs
  src/game/map/items/item.rs
  src/game/map/items/specials.rs
  src/game/map/terrain.rs
  src/game/map/terrains/chest.rs
  src/game/map/terrains/mod.rs
  src/game/map/tile.rs
  src/game/world.rs
  src/scenes/game_modes/game_mode.rs
  src/scenes/game_modes/game_mode_impl.rs
  src/scenes/game_modes/implements/closing.rs
  src/scenes/game_modes/implements/mod.rs
  src/scenes/game_modes/implements/opening.rs
  src/scenes/game_modes/implements/walking.rs
Labels: JSON

Update badges
  README.md
Labels: documentation

Add parry, toughness, race walking speed and refactor character attributes scene
  src/game/actions/implements/walk.rs
  src/game/map/passage.rs
  src/game/mod.rs
  src/game/races/personality.rs
  src/game/races/race.rs
  src/game/savage/attributes.rs
  src/game/savage/charsheet.rs
  src/game/savage/dice.rs
  src/game/savage/skills.rs
  src/scenes/helpers.rs
  src/scenes/implements/character_attributes.rs
  src/scenes/implements/create_character.rs
  src/scenes/implements/create_world.rs
Labels: none

Add wounds and some savage modificators to charset
  src/game/actions/implements/walk.rs
  src/game/races/personality.rs
  src/game/savage/attributes.rs
  src/game/savage/charsheet.rs
  src/game/savage/mod.rs
  src/game/savage/skills.rs
  src/game/savage/wound.rs
  src/game/world.rs
  src/scenes/implements/character_attributes.rs
Labels: none

Add armor and body slots to cloth, add armor value to avatar
  data/items/cloth.json
  src/assets/tileset.rs
  src/game/avatar.rs
  src/game/game_data/data_entity.rs
  src/game/game_data/item.rs
  src/game/game_data/mod.rs
  src/game/map/items/item.rs
  src/game/mod.rs
  src/game/races/body.rs
  src/game/races/mod.rs
  src/game/races/personality.rs
  src/scenes/game_modes/implements/walking.rs
Labels: JSON

Change toughness and parry to be calculated dynamically
  src/game/savage/charsheet.rs
  src/game/savage/dice.rs
  src/scenes/game_modes/implements/walking.rs
  src/scenes/implements/character_attributes.rs
Labels: none

Add melee damage to weapons
  data/items/tools.json
  src/game/game_data/data_entity.rs
  src/game/game_data/item.rs
  src/game/savage/attributes.rs
  src/game/savage/damage.rs
  src/game/savage/dice.rs
  src/game/savage/mod.rs
  src/scenes/game_modes/implements/walking.rs
Labels: JSON

Add Wield struct and code for wielding one-handed and two-handed items, add some tests
  src/game/actions/action_type.rs
  src/game/actions/implements/dig.rs
  src/game/actions/implements/drop.rs
  src/game/actions/implements/wield.rs
  src/game/avatar.rs
  src/scenes/game_modes/implements/digging.rs
  src/scenes/game_modes/implements/dropping.rs
  src/scenes/game_modes/implements/walking.rs
  src/scenes/game_modes/implements/wielding.rs
  src/scenes/implements/game_scene.rs
  src/scenes/map_view/view.rs
Labels: none

Add dummy gamemode ForceAttack for testing damage rolls
  data/names.json
  src/game/avatar.rs
  src/game/mod.rs
  src/game/savage/damage.rs
  src/scenes/game_modes/game_mode.rs
  src/scenes/game_modes/game_mode_impl.rs
  src/scenes/game_modes/implements/force_attack.rs
  src/scenes/game_modes/implements/mod.rs
  src/scenes/game_modes/implements/walking.rs
  src/ui/game_log.rs
Labels: JSON

Refactor Wield struct and add display for items in both hands to game scene
  src/game/actions/action_type.rs
  src/game/actions/implements/drop.rs
  src/game/actions/implements/wield.rs
  src/game/avatar.rs
  src/game/map/items/item.rs
  src/game/mod.rs
  src/game/wield.rs
  src/scenes/game_modes/implements/force_attack.rs
  src/scenes/game_modes/implements/walking.rs
  src/scenes/game_modes/implements/wielding.rs
  src/scenes/implements/game_scene.rs
  src/scenes/map_view/view.rs
Labels: none

Add icons for items in hands
  src/assets/tileset.rs
  src/game/log/event.rs
  src/game/mod.rs
  src/scenes/game_modes/implements/walking.rs
  src/scenes/implements/game_scene.rs
  src/ui/implements/image.rs
Labels: none

Add simple wearing action
  src/game/actions/action_type.rs
  src/game/actions/implements/mod.rs
  src/game/actions/implements/wear.rs
  src/scenes/game_modes/game_mode.rs
  src/scenes/game_modes/game_mode_impl.rs
  src/scenes/game_modes/implements/mod.rs
  src/scenes/game_modes/implements/walking.rs
  src/scenes/game_modes/implements/wielding_from_ground.rs
Labels: none

Fix drawing units behind next tiles, a little bit of refactoring in map_view
  src/scenes/map_view/view.rs
Labels: none

Add attack rolls and results
  src/game/game_data/data_entity.rs
  src/game/game_data/item.rs
  src/game/game_data/mod.rs
  src/game/map/items/item.rs
  src/game/mod.rs
  src/game/savage/attack.rs
  src/game/savage/charsheet.rs
  src/game/savage/damage.rs
  src/game/savage/dice.rs
  src/game/savage/mod.rs
  src/game/savage/wound.rs
  src/game/world.rs
  src/scenes/game_modes/implements/force_attack.rs
Labels: none

Add MeleeAttack action for time-consuming attacks
  src/game/actions/action_type.rs
  src/game/actions/implements/melee_attack.rs
  src/game/actions/implements/mod.rs
  src/game/game_data/item.rs
  src/game/world.rs
  src/scenes/game_modes/implements/force_attack.rs
Labels: none

A little bit of refactoring
  src/game/actions/action_type.rs
  src/game/actions/implements/close.rs
  src/game/actions/implements/dig.rs
  src/game/actions/implements/drop.rs
  src/game/actions/implements/melee_attack.rs
  src/game/actions/implements/open.rs
  src/game/actions/implements/read.rs
  src/game/actions/implements/skip.rs
  src/game/actions/implements/walk.rs
  src/game/actions/implements/wear.rs
  src/game/actions/implements/wield.rs
  src/game/avatar.rs
  src/game/game_data/data_entity.rs
  src/game/lang.rs
  src/game/mod.rs
  src/game/world.rs
Labels: none

Add wild_card field for CharSheet
  Cargo.toml
  src/game/avatar.rs
  src/game/mod.rs
  src/game/races/personality.rs
  src/game/savage/attack.rs
  src/game/savage/charsheet.rs
  src/game/world.rs
  src/lang.rs
  src/main.rs
  src/scenes/implements/character_attributes.rs
Labels: none

Implement death
  src/game/actions/action_type.rs
  src/game/actions/implements/dig.rs
  src/game/actions/implements/melee_attack.rs
  src/game/actions/implements/mod.rs
  src/game/actions/implements/read.rs
  src/game/actions/implements/wear.rs
  src/game/actions/implements/wield.rs
  src/game/avatar.rs
  src/game/game_data/item.rs
  src/game/map/items/helpers.rs
  src/game/races/personality.rs
  src/game/races/race.rs
  src/game/savage/attack.rs
  src/game/savage/charsheet.rs
  src/game/wield.rs
  src/game/world.rs
  src/savefile/load.rs
  src/scenes/game_modes/implements/wielding_from_ground.rs
  src/scenes/implements/character_attributes.rs
Labels: none

Rename look_like to looks_like
  data/items/cloth.json
  data/items/misc.json
  data/items/tools.json
  doc/items_to_add.md
  src/game/game_data/data_entity.rs
  src/game/game_data/item.rs
  src/game/map/items/helpers.rs
  src/game/map/items/item.rs
  src/game/map/items/specials.rs
  src/scenes/implements/game_scene.rs
  src/scenes/map_view/view.rs
  src/ui/implements/label.rs
Labels: documentation, JSON

Move Avatar and Wield structs to subdirectory units, remove duplicate fields (is_alive and is_player)
  src/game/mod.rs
  src/game/races/personality.rs
  src/game/units/avatar.rs
  src/game/units/mod.rs
  src/game/units/wield.rs
  src/game/world.rs
  src/scenes/implements/create_character.rs
Labels: none

Remove ItemType specials
  data/items/cloth.json
  data/items/misc.json
  src/game/game_data/data_entity.rs
  src/game/game_data/item.rs
  src/game/game_data/mod.rs
  src/game/map/items/container.rs
  src/game/map/items/helpers.rs
  src/game/map/items/item.rs
  src/game/map/items/mod.rs
  src/game/map/items/specials.rs
  src/game/mod.rs
Labels: JSON

Add Wear struct with slots and layers, add variants to wearable items
  assets/img/tileset.png
  assets/img/tileset.xcf
  data/items/cloth.json
  src/assets/tileset.rs
  src/game/actions/implements/wear.rs
  src/game/game_data/data_entity.rs
  src/game/game_data/item.rs
  src/game/map/chunk.rs
  src/game/map/items/helpers.rs
  src/game/map/items/item.rs
  src/game/mod.rs
  src/game/units/avatar.rs
  src/game/units/mod.rs
  src/game/units/wear.rs
  src/main.rs
Labels: JSON

Add reading skill roll before read
  src/game/actions/implements/read.rs
  src/scenes/game_modes/implements/reading.rs
Labels: none

Use justfile instead of Makefile
  .env
  .github/workflows/tests.yml
  justfile
Labels: ci

Move CharSheet from Avatar to Personality, add pregen npcs, little bit of refactoring in CharacterAttributes scene
  src/game/actions/implements/dig.rs
  src/game/actions/implements/melee_attack.rs
  src/game/actions/implements/read.rs
  src/game/actions/implements/walk.rs
  src/game/actions/implements/wear.rs
  src/game/actions/implements/wield.rs
  src/game/game_data/mod.rs
  src/game/game_data/pregen/mod.rs
  src/game/game_data/pregen/npc.rs
  src/game/races/personality.rs
  src/game/savage/attack.rs
  src/game/savage/attributes.rs
  src/game/savage/charsheet.rs
  src/game/savage/skills.rs
  src/game/units/avatar.rs
  src/game/world.rs
  src/savefile/mod.rs
  src/scenes/game_modes/implements/walking.rs
  src/scenes/implements/character_attributes.rs
  src/scenes/implements/create_character.rs
Labels: none

Remove different attack lenght from weapons' types
  data/items/tools.json
  src/game/actions/implements/melee_attack.rs
  src/game/game_data/item.rs
  src/game/map/items/item.rs
  src/game/units/avatar.rs
Labels: JSON

Add D4/2 and other half-dices for damage values
  src/game/savage/damage.rs
Labels: none

Remove items mass, add abstract size
  data/items/cloth.json
  data/items/misc.json
  data/items/tools.json
  src/game/actions/implements/wear.rs
  src/game/actions/implements/wield.rs
  src/game/game_data/data_entity.rs
  src/game/game_data/item.rs
  src/game/game_data/mod.rs
  src/game/map/items/helpers.rs
  src/game/map/items/item.rs
  src/game/mod.rs
  src/game/races/personality.rs
Labels: JSON

Display two-handed items in both hands when wield
  src/game/actions/implements/drop.rs
  src/game/units/wield.rs
Labels: none

Make items go in and out when closing and opening chests
  src/game/actions/implements/close.rs
  src/game/actions/implements/open.rs
  src/game/map/terrain.rs
  src/game/map/terrains/chest.rs
Labels: none

Remove Tile::dig(), refactor digging action
  src/game/actions/implements/dig.rs
  src/game/map/tile.rs
Labels: none

Move Tile::on_step code for dying grass to terrains
  src/game/map/terrain.rs
  src/game/map/terrains/dirt.rs
  src/game/map/terrains/grass.rs
  src/game/map/tile.rs
Labels: none

Remove useless items helpers and copy of prototype in every item
  data/items/tools.json
  src/game/actions/implements/dig.rs
  src/game/actions/implements/drop.rs
  src/game/actions/implements/melee_attack.rs
  src/game/actions/implements/wear.rs
  src/game/actions/implements/wield.rs
  src/game/game_data/mod.rs
  src/game/map/chunk.rs
  src/game/map/items/helpers.rs
  src/game/map/items/item.rs
  src/game/units/avatar.rs
  src/game/units/wear.rs
Labels: JSON

Implement smashing terrains, add weapons damage type and set of clubs as part of #10
  assets/img/tileset.png
  assets/img/tileset.xcf
  data/items/cloth.json
  data/items/melee_weapons.json
  data/items/misc.json
  data/items/tools.json
  src/assets/tileset.rs
  src/game/actions/implements/melee_attack.rs
  src/game/game_data/data_entity.rs
  src/game/game_data/item.rs
  src/game/game_data/mod.rs
  src/game/map/chunk.rs
  src/game/map/items/item.rs
  src/game/map/terrain.rs
  src/game/map/terrains/boulder.rs
  src/game/map/terrains/chest.rs
  src/game/mod.rs
  src/game/races/race.rs
  src/game/savage/attack.rs
  src/game/savage/damage.rs
  src/game/savage/mod.rs
Labels: JSON

Update badges
  README.md
Labels: documentation

Replace static with consts where it applicable for memory optimization
  src/assets/tileset.rs
  src/game/actions/implements/melee_attack.rs
  src/game/game_data/data_entity.rs
  src/game/map/items/item.rs
  src/game/savage/attack.rs
Labels: none

Skip empty fields when serialize items to decrease savefile size
  src/game/game_data/item.rs
  src/game/map/items/item.rs
  src/game/map/passage.rs
Labels: none

Add a lot of new tiles to tileset, draw colorized terrains, add item materials and materials colors
  assets/img/tileset.png
  assets/img/tileset.xcf
  data/items/cloth.json
  data/items/melee_weapons.json
  data/items/misc.json
  data/items/tools.json
  doc/items_to_add.md
  src/assets/tileset.rs
  src/colors.rs
  src/game/actions/implements/dig.rs
  src/game/actions/implements/drop.rs
  src/game/actions/implements/melee_attack.rs
  src/game/actions/implements/wear.rs
  src/game/actions/implements/wield.rs
  src/game/game_data/data_entity.rs
  src/game/game_data/item.rs
  src/game/game_data/mod.rs
  src/game/map/chunk.rs
  src/game/map/items/helpers.rs
  src/game/map/items/item.rs
  src/game/map/terrain.rs
  src/game/map/terrains/boulder.rs
  src/game/map/terrains/chest.rs
  src/game/map/terrains/dirt.rs
  src/game/map/terrains/grass.rs
  src/game/map/terrains/tree.rs
  src/game/mod.rs
  src/game/races/race.rs
  src/game/units/avatar.rs
  src/game/units/wear.rs
  src/scenes/map_view/view.rs
Labels: documentation, JSON

Rename SkillLevel::D4_2 to SkillLevel::None and fix parry calculation for charsheets with no Fighting skill
  assets/img/tileset.png
  assets/img/tileset.xcf
  src/game/game_data/pregen/npc.rs
  src/game/savage/charsheet.rs
  src/game/savage/dice.rs
  src/game/savage/skills.rs
  src/scenes/implements/character_attributes.rs
Labels: none

.github/labeler.yml:

"documentation":
  - "**/*.md"
  - "/doc/**/*"

"dependencies":
  - "/Cargo.toml"

"ci":
  - ".github/workflows/**/*"
  - ".github/labeler.yml"
  - ".github/dependabot.yml"

"rust":
  - "/src/**/*"
  - "/tests/**/*"
  - "/examples/**/*"
  - "/benches/**/*"
  - "/build.rs"
  - "/Cargo.toml"
  - "/Cargo.lock"
  - "/rust-toolchain"
  - "/rustfmt.toml"
  - "/.cargo/**/*"

"JSON":
  - '**/*.json'
