Repository Tairesh/midia, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, ci, rust, JSON

.github/labeler.yml:

"documentation":
  - "**/*.md"
  - "/doc/**/*"

"dependencies":
  - "/Cargo.toml"

"ci":
  - ".github/workflows/**/*"
  - ".github/labeler.yml"
  - ".github/dependabot.yml"

"rust":
  - "/src/**/*"
  - "/tests/**/*"
  - "/examples/**/*"
  - "/benches/**/*"
  - "/build.rs"
  - "/Cargo.toml"
  - "/Cargo.lock"
  - "/rust-toolchain"
  - "/rustfmt.toml"
  - "/.cargo/**/*"

"JSON":
  - '**/*.json'

Add some more weapons to tileset
  assets/img/tileset.png
  assets/img/tileset.xcf
  src/assets/tileset.rs
  src/game/map/items/helpers.rs
Labels: none

Add cursors (for select tile on map) to tileset
  assets/img/tileset.png
  assets/img/tileset.xcf
  src/assets/tileset.rs
  src/scenes/map_view/view.rs
Labels: none

Refactor savage melee combat functions, move them to subdirectory
  src/game/actions/implements/melee_attack.rs
  src/game/mod.rs
  src/game/races/race.rs
  src/game/savage/attack.rs
  src/game/savage/charsheet.rs
  src/game/savage/combat/hit.rs
  src/game/savage/combat/melee/mod.rs
  src/game/savage/combat/melee/terrain.rs
  src/game/savage/combat/melee/unit_simple.rs
  src/game/savage/combat/mod.rs
  src/game/savage/damage.rs
  src/game/savage/mod.rs
  src/game/units/avatar.rs
  src/game/world.rs
Labels: none

Add melee damage value for improvised veapons and bugfixes
  data/items/tools.json
  src/game/actions/implements/melee_attack.rs
  src/game/game_data/item.rs
  src/game/map/items/item.rs
  src/game/mod.rs
  src/game/races/race.rs
  src/game/savage/charsheet.rs
  src/game/savage/combat/melee/mod.rs
  src/game/savage/combat/melee/terrain.rs
  src/game/savage/combat/melee/unit_simple.rs
  src/game/savage/damage.rs
  src/game/savage/skills.rs
  src/game/units/avatar.rs
  src/scenes/game_modes/implements/walking.rs
Labels: JSON

Add RollResult preserving natural value and some melee attack calculation fixes
  src/game/actions/implements/read.rs
  src/game/mod.rs
  src/game/savage/charsheet.rs
  src/game/savage/combat/melee/mod.rs
  src/game/savage/combat/melee/terrain.rs
  src/game/savage/combat/melee/unit_simple.rs
  src/game/savage/damage.rs
  src/game/savage/dice.rs
  src/game/savage/mod.rs
Labels: none

Implement throwing combat function and action
  src/game/actions/action_type.rs
  src/game/actions/implements/melee.rs
  src/game/actions/implements/mod.rs
  src/game/actions/implements/throw.rs
  src/game/game_data/item.rs
  src/game/game_data/mod.rs
  src/game/log/helpers.rs
  src/game/log/mod.rs
  src/game/map/items/helpers.rs
  src/game/map/items/item.rs
  src/game/mod.rs
  src/game/races/race.rs
  src/game/savage/combat/hit.rs
  src/game/savage/combat/melee/mod.rs
  src/game/savage/combat/melee/terrain.rs
  src/game/savage/combat/melee/unit_simple.rs
  src/game/savage/combat/mod.rs
  src/game/savage/combat/ranged/distance.rs
  src/game/savage/combat/ranged/mod.rs
  src/game/savage/combat/ranged/throw/mod.rs
  src/game/savage/combat/ranged/throw/unit.rs
  src/game/savage/mod.rs
  src/game/units/avatar.rs
  src/game/units/wear.rs
  src/scenes/game_modes/implements/force_attack.rs
Labels: none

Implement throwing gamemode and some throwing fixes
  src/game/actions/implements/throw.rs
  src/game/game_data/item.rs
  src/game/log/helpers.rs
  src/game/mod.rs
  src/game/savage/combat/mod.rs
  src/game/savage/combat/ranged/distance.rs
  src/game/savage/combat/ranged/mod.rs
  src/game/savage/combat/ranged/throw/unit.rs
  src/game/savage/mod.rs
  src/input.rs
  src/scenes/game_modes/game_mode.rs
  src/scenes/game_modes/game_mode_impl.rs
  src/scenes/game_modes/implements/mod.rs
  src/scenes/game_modes/implements/throwing.rs
  src/scenes/game_modes/implements/walking.rs
  src/scenes/map_view/view.rs
Labels: none

Add minimum strength for weapons
  data/items/tools.json
  src/game/actions/implements/drop.rs
  src/game/actions/implements/melee.rs
  src/game/actions/implements/throw.rs
  src/game/actions/implements/wear.rs
  src/game/actions/implements/wield.rs
  src/game/game_data/item.rs
  src/game/map/chunk.rs
  src/game/map/items/helpers.rs
  src/game/map/items/item.rs
  src/game/races/race.rs
  src/game/savage/combat/hit.rs
  src/game/savage/combat/melee/terrain.rs
  src/game/savage/combat/melee/unit_simple.rs
  src/game/savage/combat/ranged/throw/unit.rs
  src/game/savage/damage.rs
  src/game/savage/dice.rs
  src/game/units/avatar.rs
Labels: JSON

Draw map view to canvas and update it only when it needed
  src/scenes/game_modes/implements/observing.rs
  src/scenes/game_modes/implements/throwing.rs
  src/scenes/game_modes/implements/walking.rs
  src/scenes/implements/game_scene.rs
  src/scenes/map_view/view.rs
Labels: none

Add test experimental releases workflow
  .github/workflows/json-check.yml
  .github/workflows/release.yml
Labels: ci

Add Vigor roll to avoid wounds after damage
  .github/workflows/release.yml
  src/game/savage/combat/hit.rs
  src/game/savage/dice.rs
Labels: ci

Refactor cursors in game view
  src/scenes/game_modes/cursor.rs
  src/scenes/game_modes/game_mode_impl.rs
  src/scenes/game_modes/implements/closing.rs
  src/scenes/game_modes/implements/digging.rs
  src/scenes/game_modes/implements/dropping.rs
  src/scenes/game_modes/implements/examining.rs
  src/scenes/game_modes/implements/force_attack.rs
  src/scenes/game_modes/implements/observing.rs
  src/scenes/game_modes/implements/opening.rs
  src/scenes/game_modes/implements/reading.rs
  src/scenes/game_modes/implements/throwing.rs
  src/scenes/game_modes/implements/wielding_from_ground.rs
  src/scenes/game_modes/mod.rs
  src/scenes/implements/game_scene.rs
  src/scenes/map_view/view.rs
Labels: none

Add precommit fix&check
  justfile
  scripts/before-commit.sh
Labels: none

Add line of cursors to target in throwning mode
  src/scenes/game_modes/implements/throwing.rs
Labels: none

Fix forgotten map redraw on hands swap
  src/scenes/implements/game_scene.rs
Labels: none

Fix drawing units behind the trees
  src/scenes/map_view/view.rs
Labels: none

Disallow to observe invisible and outranged tiles
  src/game/world.rs
  src/scenes/game_modes/implements/observing.rs
Labels: none

Disallow select throwing target that is too far (#14)
  src/game/savage/combat/ranged/distance.rs
  src/scenes/game_modes/implements/throwing.rs
Labels: none

Add knifes for #10
  data/items/melee_weapons.json
  data/items/tools.json
  src/game/map/items/helpers.rs
Labels: JSON

Add obsidian shards with custom crit-dice
  data/items/ranged_weapons.json
  src/game/game_data/item.rs
  src/game/map/chunk.rs
  src/game/map/items/helpers.rs
  src/game/races/race.rs
  src/game/savage/damage.rs
Labels: JSON

Fix clippy warnings
  src/game/actions/implements/throw.rs
  src/game/savage/dice.rs
Labels: none

Change color of line to throwing target too
  src/scenes/game_modes/implements/throwing.rs
Labels: none

Draw highlight if there are an item behind unit
  src/scenes/map_view/view.rs
Labels: none

Convince clippy functions that return sized types inside Box is OK
  justfile
Labels: none

Update tests.yml
  .github/workflows/tests.yml
Labels: ci

Fix items highlight on the map
  src/scenes/map_view/view.rs
Labels: none

Add basic shortbow and arrow
  data/items/ammo.json
  data/items/ranged_weapons.json
  src/game/actions/implements/throw.rs
  src/game/game_data/data_entity.rs
  src/game/game_data/item.rs
  src/game/game_data/mod.rs
  src/game/map/chunk.rs
  src/game/map/items/helpers.rs
  src/game/map/items/item.rs
Labels: JSON

Add quiver and CONTAINER quality
  data/items/cloth.json
  src/game/actions/implements/dig.rs
  src/game/actions/implements/throw.rs
  src/game/game_data/item.rs
  src/game/map/chunk.rs
  src/game/map/items/container.rs
  src/game/map/items/helpers.rs
  src/game/map/items/item.rs
  src/game/mod.rs
  src/game/units/wield.rs
  src/scenes/game_modes/implements/digging.rs
Labels: JSON

Refactoring of Constainer struct
  src/game/map/items/container.rs
  src/game/map/items/item.rs
Labels: none

Refactoring of Wear struct
  src/game/units/avatar.rs
  src/game/units/wear.rs
Labels: none

Implement dummy buttons for left and right hand
  src/game/units/wear.rs
  src/scenes/helpers.rs
  src/scenes/implements/create_character.rs
  src/scenes/implements/game_scene.rs
  src/ui/implements/button.rs
Labels: none

:recycle: Refactoring UI code: created ButtonBuilder
  src/scenes/helpers.rs
  src/scenes/implements/create_character.rs
  src/scenes/implements/game_menu.rs
  src/scenes/implements/game_scene.rs
  src/scenes/implements/load_world.rs
  src/scenes/implements/main_menu.rs
  src/scenes/implements/settings_scene.rs
  src/ui/implements/button.rs
  src/ui/mod.rs
Labels: none

:recycle: Refactoring
  src/app.rs
  src/scenes/map_view/ui.rs
  src/scenes/scene_impl.rs
  src/ui/implements/inputs.rs
Labels: none

:recycle: Refactoring clippy suggestions and bump minimum screen size to 1366x768
  scripts/before-commit.sh
  src/app.rs
  src/game/actions/implements/wield.rs
  src/main.rs
  src/savefile/save.rs
  src/scenes/implements/character_attributes.rs
  src/settings.rs
Labels: none

:recycle: Move game settings code to separate directory
  justfile
  src/settings/debug.rs
  src/settings/input.rs
  src/settings/mod.rs
  src/settings/window.rs
Labels: none

:coffin: Remove unused "id" field from names' packs
  data/names.json
  src/game/game_data/data_entity.rs
  src/game/game_data/names_pack.rs
Labels: JSON

:recycle: Fix clippy warnings
  .github/workflows/release.yml
  .github/workflows/rust-clippy.yml
  .github/workflows/tests.yml
  justfile
  src/game/map/terrains/mod.rs
  src/game/mod.rs
  src/game/races/mod.rs
  src/scenes/implements/character_attributes.rs
  src/scenes/implements/load_world.rs
  src/scenes/scene.rs
  src/ui/mod.rs
Labels: ci

:sparkles: Add body colors for races, remove old fur colors
  .github/workflows/tests.yml
  assets/img/tileset.png
  assets/img/tileset.xcf
  src/game/game_data/pregen/npc.rs
  src/game/map/items/helpers.rs
  src/game/races/body_color.rs
  src/game/races/fur_color.rs
  src/game/races/mod.rs
  src/game/races/personality.rs
  src/game/races/race.rs
  src/game/world.rs
  src/scenes/implements/create_character.rs
  src/scenes/map_view/view.rs
Labels: ci

:memo: Update badges
  README.md
Labels: documentation

:green_heart: Fix tests CI run (probably)
  .github/workflows/tests.yml
Labels: ci
