Repository Tairesh/midia, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, ci, rust, JSON

.github/labeler.yml:

"documentation":
  - "**/*.md"
  - "/doc/**/*"

"dependencies":
  - "/Cargo.toml"

"ci":
  - ".github/workflows/**/*"
  - ".github/labeler.yml"
  - ".github/dependabot.yml"

"rust":
  - "/src/**/*"
  - "/tests/**/*"
  - "/examples/**/*"
  - "/benches/**/*"
  - "/build.rs"
  - "/Cargo.toml"
  - "/Cargo.lock"
  - "/rust-toolchain"
  - "/rustfmt.toml"
  - "/.cargo/**/*"

"JSON":
  - '**/*.json'

:sparkles: Add some arrows into quivers
  src/game/map/chunk.rs
  src/game/map/items/container.rs
  src/game/map/items/item.rs
Labels: none

:sparkles: Add AttackType for more consistent combat code
  src/game/map/items/item.rs
  src/game/mod.rs
  src/game/savage/combat/mod.rs
  src/game/savage/combat/ranged/throw/unit.rs
  src/game/savage/mod.rs
  src/game/units/avatar.rs
  src/scenes/game_modes/implements/throwing.rs
Labels: none

:sparkles: Refactor ranged combat code
  src/game/actions/implements/throw.rs
  src/game/savage/combat/mod.rs
  src/game/savage/combat/ranged/mod.rs
  src/game/savage/combat/ranged/throw/mod.rs
  src/game/savage/combat/ranged/throw/unit.rs
  src/game/savage/mod.rs
Labels: none

:bow_and_arrow: Implement shooting (with bow and arrows)
  src/game/actions/action_type.rs
  src/game/actions/implements/mod.rs
  src/game/actions/implements/shoot.rs
  src/game/map/items/container.rs
  src/game/map/items/item.rs
  src/game/savage/combat/mod.rs
  src/game/savage/combat/ranged/mod.rs
  src/game/units/wear.rs
  src/scenes/game_modes/game_mode.rs
  src/scenes/game_modes/game_mode_impl.rs
  src/scenes/game_modes/implements/mod.rs
  src/scenes/game_modes/implements/shooting.rs
  src/scenes/game_modes/implements/walking.rs
Labels: none

:fire: Use same tick cost for any type of attack
  src/game/actions/implements/melee.rs
  src/game/actions/implements/shoot.rs
  src/game/actions/implements/throw.rs
  src/game/savage/mod.rs
Labels: none

:memo: Add todo for UI refactoring
  src/ui/implements/inputs.rs
Labels: none

:recycle: Add serialization for KeyWithMod struct for future keybindings #6
  src/game/map/items/item.rs
  src/input.rs
Labels: none

:bow_and_arrow: Correctly calculate damage of different types of arrows
  data/items/ammo.json
  src/game/game_data/item.rs
  src/game/map/items/helpers.rs
  src/game/units/avatar.rs
  src/game/units/wear.rs
Labels: JSON

:sparkles: Add reset button to skills&attributes screen
  src/game/savage/charsheet.rs
  src/scenes/helpers.rs
  src/scenes/implements/character_attributes.rs
Labels: none

:fire: Remove unused code
  src/game/actions/implements/melee.rs
  src/game/races/personality.rs
  src/game/races/race.rs
  src/game/units/avatar.rs
  src/scenes/implements/create_character.rs
Labels: none

:fire: Remove main hand and refactor wielding system
  src/game/actions/implements/drop.rs
  src/game/actions/implements/melee.rs
  src/game/actions/implements/shoot.rs
  src/game/actions/implements/throw.rs
  src/game/actions/implements/wear.rs
  src/game/actions/implements/wield.rs
  src/game/game_data/pregen/npc.rs
  src/game/mod.rs
  src/game/races/main_hand.rs
  src/game/races/mod.rs
  src/game/races/personality.rs
  src/game/races/race.rs
  src/game/units/avatar.rs
  src/game/units/wear.rs
  src/game/units/wield.rs
  src/game/world.rs
  src/scenes/game_modes/implements/shooting.rs
  src/scenes/game_modes/implements/throwing.rs
  src/scenes/game_modes/implements/walking.rs
  src/scenes/implements/create_character.rs
  src/scenes/implements/game_scene.rs
  src/scenes/map_view/view.rs
Labels: none

:recycle: Move Personality struct from races to units
  src/game/game_data/pregen/npc.rs
  src/game/mod.rs
  src/game/races/mod.rs
  src/game/units/avatar.rs
  src/game/units/mod.rs
  src/game/units/personality.rs
  src/game/world.rs
  src/scenes/implements/character_attributes.rs
  src/scenes/implements/create_character.rs
  src/scenes/scene.rs
Labels: none

:sparkles: Add pronouns, fix combat-related log messages' grammar
  Cargo.toml
  src/game/actions/implements/melee.rs
  src/game/actions/implements/shoot.rs
  src/game/actions/implements/throw.rs
  src/game/log/event.rs
  src/game/log/helpers.rs
  src/game/races/gender.rs
  src/game/races/mod.rs
  src/game/races/pronouns.rs
  src/game/savage/charsheet.rs
  src/game/savage/combat/hit.rs
  src/game/savage/combat/ranged/mod.rs
  src/game/units/avatar.rs
  src/game/units/personality.rs
Labels: none

:memo: Add comments to Pronouns methods
  src/game/races/pronouns.rs
Labels: none

:heavy_plus_sign: Add spears
  data/items/melee_weapons.json
  src/game/actions/implements/shoot.rs
  src/game/map/chunk.rs
  src/game/map/items/helpers.rs
  src/game/savage/combat/ranged/distance.rs
Labels: JSON

:sparkles: Throw/shoot to coordinates, not units
  src/game/actions/implements/shoot.rs
  src/game/actions/implements/throw.rs
  src/scenes/game_modes/implements/shooting.rs
  src/scenes/game_modes/implements/throwing.rs
Labels: none

:sparkles: Throw to empty places and small fixes
  src/game/actions/implements/throw.rs
  src/game/races/pronouns.rs
  src/scenes/game_modes/implements/shooting.rs
  src/scenes/game_modes/implements/throwing.rs
  src/scenes/implements/game_scene.rs
Labels: none

:sparkles: Add spears and melee attacks on distance
  src/game/actions/implements/melee.rs
  src/scenes/game_modes/game_mode.rs
  src/scenes/game_modes/game_mode_impl.rs
  src/scenes/game_modes/implements/melee_attack.rs
  src/scenes/game_modes/implements/mod.rs
  src/scenes/game_modes/implements/pike_attack.rs
  src/scenes/game_modes/implements/shooting.rs
  src/scenes/game_modes/implements/walking.rs
Labels: none

:sparkles: Add pikes and test for parry modifier
  data/items/melee_weapons.json
  src/game/map/chunk.rs
  src/game/map/items/helpers.rs
  src/game/units/avatar.rs
  src/scenes/game_modes/implements/pike_attack.rs
Labels: JSON

:bow_and_arrow: Add crossbows, Container for ammo in ranged weapons, autoreload
  data/items/ammo.json
  data/items/misc.json
  data/items/ranged_weapons.json
  src/game/actions/implements/shoot.rs
  src/game/actions/implements/throw.rs
  src/game/game_data/data_entity.rs
  src/game/game_data/item.rs
  src/game/game_data/mod.rs
  src/game/map/chunk.rs
  src/game/map/items/container.rs
  src/game/map/items/helpers.rs
  src/game/map/items/item.rs
  src/game/mod.rs
  src/game/units/avatar.rs
  src/game/units/wear.rs
  src/game/units/wield.rs
  src/scenes/game_modes/implements/shooting.rs
  src/scenes/game_modes/implements/walking.rs
Labels: JSON

:bow_and_arrow: Add reload as time-consuming action
  src/game/actions/action_type.rs
  src/game/actions/implements/mod.rs
  src/game/actions/implements/reload.rs
  src/game/units/avatar.rs
  src/scenes/game_modes/implements/walking.rs
Labels: none

:sparkles: Add Keybindings and use it in Walking scene
  src/input.rs
  src/scenes/game_modes/game_mode.rs
  src/scenes/game_modes/game_mode_impl.rs
  src/scenes/game_modes/implements/mod.rs
  src/scenes/game_modes/implements/picking_up.rs
  src/scenes/game_modes/implements/walking.rs
  src/settings/input.rs
  src/settings/mod.rs
Labels: none

:recycle: Add meaningfull messages when player can't reload their weapon
  src/game/actions/implements/reload.rs
Labels: none

:bug: Fix hit result calculation, remove Vigor roll, fix armor bonus
  src/game/races/race.rs
  src/game/savage/charsheet.rs
  src/game/savage/combat/hit.rs
  src/game/units/avatar.rs
Labels: none

:recycle: Move Units struct into Rc<RefCell<>>
  src/game/actions/action.rs
  src/game/actions/implements/close.rs
  src/game/actions/implements/dig.rs
  src/game/actions/implements/drop.rs
  src/game/actions/implements/melee.rs
  src/game/actions/implements/open.rs
  src/game/actions/implements/read.rs
  src/game/actions/implements/reload.rs
  src/game/actions/implements/shoot.rs
  src/game/actions/implements/skip.rs
  src/game/actions/implements/throw.rs
  src/game/actions/implements/walk.rs
  src/game/actions/implements/wear.rs
  src/game/actions/implements/wield.rs
  src/game/savage/combat/ranged/mod.rs
  src/game/world.rs
  src/savefile/mod.rs
  src/scenes/game_modes/implements/closing.rs
  src/scenes/game_modes/implements/digging.rs
  src/scenes/game_modes/implements/dropping.rs
  src/scenes/game_modes/implements/melee_attack.rs
  src/scenes/game_modes/implements/observing.rs
  src/scenes/game_modes/implements/opening.rs
  src/scenes/game_modes/implements/picking_up.rs
  src/scenes/game_modes/implements/pike_attack.rs
  src/scenes/game_modes/implements/reading.rs
  src/scenes/game_modes/implements/shooting.rs
  src/scenes/game_modes/implements/throwing.rs
  src/scenes/game_modes/implements/walking.rs
  src/scenes/implements/game_scene.rs
  src/scenes/map_view/view.rs
Labels: none

:recycle: Merge Wear and WIeld structs into Inventory
  src/game/actions/implements/dig.rs
  src/game/actions/implements/drop.rs
  src/game/actions/implements/melee.rs
  src/game/actions/implements/reload.rs
  src/game/actions/implements/shoot.rs
  src/game/actions/implements/throw.rs
  src/game/actions/implements/wear.rs
  src/game/actions/implements/wield.rs
  src/game/mod.rs
  src/game/races/race.rs
  src/game/units/avatar.rs
  src/game/units/inventory.rs
  src/game/units/mod.rs
  src/game/units/wear.rs
  src/game/units/wield.rs
  src/scenes/game_modes/implements/digging.rs
  src/scenes/game_modes/implements/dropping.rs
  src/scenes/game_modes/implements/picking_up.rs
  src/scenes/game_modes/implements/pike_attack.rs
  src/scenes/game_modes/implements/shooting.rs
  src/scenes/game_modes/implements/throwing.rs
  src/scenes/game_modes/implements/walking.rs
  src/scenes/implements/game_scene.rs
  src/scenes/map_view/view.rs
Labels: none

:fire: Remove items' tags
  Cargo.toml
  data/items/ranged_weapons.json
  data/items/tools.json
  src/game/actions/implements/melee.rs
  src/game/actions/implements/read.rs
  src/game/actions/implements/shoot.rs
  src/game/actions/implements/throw.rs
  src/game/game_data/data_entity.rs
  src/game/game_data/item.rs
  src/game/game_data/mod.rs
  src/game/log/event.rs
  src/game/map/items/helpers.rs
  src/game/map/items/item.rs
  src/game/map/tile.rs
  src/game/mod.rs
  src/lang.rs
Labels: JSON

:sparkles: Set color of dead body
  src/game/game_data/item.rs
  src/game/map/items/helpers.rs
Labels: none

:recycle: Refactor item.rs, split it to subdirectory
  src/game/actions/implements/melee.rs
  src/game/game_data/data_entity.rs
  src/game/game_data/item.rs
  src/game/game_data/items/ammo.rs
  src/game/game_data/items/damage.rs
  src/game/game_data/items/item.rs
  src/game/game_data/items/material.rs
  src/game/game_data/items/mod.rs
  src/game/game_data/items/quality.rs
  src/game/game_data/items/wear.rs
  src/game/game_data/mod.rs
  src/game/mod.rs
  src/game/races/race.rs
  src/game/savage/damage.rs
  src/game/savage/dice.rs
  src/game/savage/mod.rs
Labels: none

:recycle: Start refactoring for future AI system
  src/game/units/avatar.rs
  src/game/units/mod.rs
  src/game/world.rs
Labels: none

:arrow_up: Bump actions/checkout to v4
  .github/workflows/json-check.yml
  .github/workflows/release.yml
  .github/workflows/rust-clippy.yml
  .github/workflows/tests.yml
Labels: ci

:recycle: Add Sprite, get rid of str-sprites
  Cargo.toml
  src/assets/mod.rs
  src/assets/tileset.rs
  src/game/actions/implements/throw.rs
  src/game/game_data/items/item.rs
  src/game/map/items/helpers.rs
  src/game/map/items/item.rs
  src/game/map/terrain.rs
  src/game/map/terrains/boulder.rs
  src/game/map/terrains/chest.rs
  src/game/map/terrains/dirt.rs
  src/game/map/terrains/grass.rs
  src/game/map/terrains/pit.rs
  src/game/map/terrains/tree.rs
  src/game/races/race.rs
  src/game/traits.rs
  src/game/units/avatar.rs
  src/game/units/monster.rs
  src/game/units/player.rs
  src/scenes/game_modes/cursor.rs
  src/scenes/helpers.rs
  src/scenes/implements/create_character.rs
  src/scenes/implements/game_scene.rs
  src/scenes/map_view/view.rs
  src/ui/implements/button.rs
  src/ui/implements/image.rs
  src/ui/implements/label.rs
Labels: none

:recycle: Refactor dices subdirectory, add AttrLevel
  src/game/mod.rs
  src/game/savage/attributes.rs
  src/game/savage/charsheet.rs
  src/game/savage/dice.rs
  src/game/savage/dices/attr_level.rs
  src/game/savage/dices/dice.rs
  src/game/savage/dices/dice_with_modifier.rs
  src/game/savage/dices/mod.rs
  src/game/savage/dices/roll_result.rs
  src/game/savage/dices/skill_level.rs
  src/game/savage/mod.rs
  src/game/savage/skills.rs
  src/game/units/personality.rs
  src/savefile/mod.rs
  src/scenes/implements/character_attributes.rs
Labels: none

:robot: Implement basic AI system for #7
  src/game/actions/implements/melee.rs
  src/game/actions/implements/shoot.rs
  src/game/actions/implements/throw.rs
  src/game/actions/implements/walk.rs
  src/game/ai/implements/dummy.rs
  src/game/ai/implements/mod.rs
  src/game/ai/implements/monster_basic.rs
  src/game/ai/mod.rs
  src/game/ai/system.rs
  src/game/mod.rs
  src/game/units/avatar.rs
  src/game/units/monster.rs
  src/game/world.rs
Labels: none

:fire: Remove age from CharSheet
  src/game/savage/charsheet.rs
  src/game/units/personality.rs
  src/game/world.rs
  src/scenes/implements/character_attributes.rs
  src/scenes/implements/create_character.rs
Labels: none

:robot: Implement basic melee attack for monsters AI #7
  src/game/actions/implements/melee.rs
  src/game/actions/implements/walk.rs
  src/game/ai/implements/monster_basic.rs
  src/game/units/avatar.rs
  src/game/units/fighter.rs
  src/game/units/mod.rs
  src/game/world.rs
  src/scenes/game_modes/implements/walking.rs
Labels: none

:bow_and_arrow: Add AttackTarget enum, for attacking moving targets correctly
  src/game/actions/attack_target.rs
  src/game/actions/implements/melee.rs
  src/game/actions/implements/shoot.rs
  src/game/actions/implements/throw.rs
  src/game/actions/mod.rs
  src/game/ai/implements/monster_basic.rs
  src/game/world.rs
  src/savefile/mod.rs
  src/scenes/game_modes/implements/melee_attack.rs
  src/scenes/game_modes/implements/pike_attack.rs
  src/scenes/game_modes/implements/shooting.rs
  src/scenes/game_modes/implements/throwing.rs
Labels: none

📝 Remove Telegram chat badge
  README.md
Labels: documentation

:bug: Fix bug with two monsters in the same tile
  src/game/actions/action.rs
  src/game/actions/implements/shoot.rs
  src/game/actions/implements/skip.rs
  src/game/actions/implements/throw.rs
  src/game/actions/implements/walk.rs
  src/game/actions/mod.rs
  src/game/ai/implements/dummy.rs
  src/game/world.rs
  src/scenes/game_modes/implements/walking.rs
Labels: none

:recycle: Refactoring shock-out rolls
  src/game/savage/charsheet.rs
  src/game/savage/dices/roll_result.rs
  src/game/world.rs
Labels: none
